@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 3%;
    margin-left: 2%;
    color: white;
}

.titulo {
    background-color: #213BDE;
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome {
    margin-left: 2%;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1b30b8;
    color: white;
    padding: 1%;
}

.number {
    background-color: #2176DE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
}

.number:hover {
    font-size: 19px;
    transition: 200ms;
    cursor: pointer;
    background-color: #4b91e6;
}

main {
    background-color: #2176DE;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.imgs {
    width: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
    -webkit-box-shadow: 0px 12px 13px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 12px 13px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 12px 13px -7px rgba(0, 0, 0, 0.5);
}

.txt1 {
    padding-left: 1%;
    padding-top: 1%;
}
/* Template */
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
@media (max-width: 479px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
    }
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .titulo {
        background-color: #213BDE;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 10%;
        margin-right: 2%;
    }
    .nome {
        color: white;
    }
    .imgs {
        width: 100%;
    }
    .btns {
        background-color: #1b30b8;
        color: white;
        padding: 1%;
        display: flex;
        flex-direction: column;
    }
    .number {
        padding: 1%;
        margin: 0.5%;
        background-color: #2176DE;
    }
    main {
        background-color: #2176DE;
        color: white;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 10%;
        padding-bottom: 20%;
    }
    .assunto {
        flex-direction: column;
        margin: ;
    }
}
@media (max-width: 813px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
    }
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .titulo {
        background-color: #213BDE;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 10%;
        margin-right: 2%;
    }
    .nome {
        color: white;
    }
    .imgs {
        width: 100%;
    }
    .btns {
        background-color: #1b30b8;
        color: white;
        padding: 1%;
        display: flex;
        flex-direction: column;
    }
    .number {
        padding: 1%;
        margin: 0.5%;
        background-color: #2176DE;
    }
    main {
        background-color: #2176DE;
        color: white;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 10%;
        padding-bottom: 20%;
    }
    .assunto {
        flex-direction: column;
        margin: ;
    }
}
@media (min-width: 814px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
    }

    .logo {
        width: 3%;
        margin-left: 2%;
        color: white;
    }

    .titulo {
        background-color: #213BDE;
        padding: 1%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nome {
        margin-left: 2%;
    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #1b30b8;
        color: white;
        padding: 1%;
    }

    .number {
        background-color: #2176DE;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 2px;
    }

    .number:hover {
        font-size: 19px;
        transition: 200ms;
        cursor: pointer;
        background-color: #4b91e6;
    }

    main {
        background-color: #2176DE;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .imgs {
        width: 30%;
        margin-bottom: 2%;
        margin-top: 2%;
        -webkit-box-shadow: 0px 12px 13px -7px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 12px 13px -7px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 12px 13px -7px rgba(0, 0, 0, 0.5);
    }

    .txt1 {
        padding-left: 1%;
        padding-top: 1%;
    }
}
  

